#pol{
    border: 2px solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    color: rgb(255,137,0);
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#pol:hover{
    background-color: rgb(255,137,0);
    color: white;
}

#priv{
    font-size: 13px;
    font-family: serif;
    font-weight: 600;
}
#priv:hover{
    color: rgb(255,137,0);
}

.order{
    font-size: 11px;
    border-radius: 100px;

}

.order:hover{
    background-color: white;
    border: 1px solid;
}

.ease{
    color: rgb(17, 17, 66);
    font-size: 50px;
    font-weight: 700;
}

.acces{
    font-size: 50px;
    color: rgb(255,137,0);
    font-weight: 700;
}

#download{
    width: 200px;
    border-radius: 30px;
}

#app{
    position: relative;
    top: 40px;
    left: 60px;
    font-size: 15px;
}

#app2{
    position: relative;
    top: 55px;
    left: -10px;
    font-size: 15px;
}

